# YouTube livestream local configuration.
DOWNLOAD_TARGET="${HOME}/livestreams"
BGUTIL_PROVIDER_DIR="${HOME}/opt/bgutil-ytdlp-pot-provider"
BGUTIL_PROVIDER_COMMIT="6b497de5a6cbaf106bd94a934c5d2794c3fdf8bb"  # Update or leave empty for latest commit
LS_SAVER="livestream_saver"

# Define the broadcasters that should be monitored for here.
YT_STREAMER_INDEX=(
	"your_channel"
)

# Each entry: dir|disp|qual
# Each entry is also used as tmux pane name
# dir: name of the target directory
# disp: name in LS_Saver config file
# qual: stream quality for livestream-saver
declare -gA YT_STREAMERS
YT_STREAMERS["your_channel"]="your_channel|your_channel|480"
