[Unit]
Description=Download Twitch videos for configured channels
Requires=remote-twitch_monitor.mount

[Service]
Type=oneshot
ExecStart=twitch_download.sh

[Install]
WantedBy=default.target
