# Original location to destination

declare -A destinations

default_destination="/data/vtubers_raw_dump/vtubers_dump/processing"

destinations=(
"/remote/do/live-streams/chibidoki" "/data/vtubers_raw_dump/vtubers_dump/processing/chibidoki" 
"/remote/do/live-streams/kamiko_kana" "/data/vtubers_raw_dump/vtubers_dump/processing/kamiko_kana" 
"/remote/do/live-streams/neuro-sama" "/data/vtubers_raw_dump/vtubers_dump/processing/vedal987" 
"/remote/do/live-streams/fallenshadow" "/data/vtubers_raw_dump/vtubers_dump/processing/fallenshadow" 
)

