# Original location to destination

declare -A destinations

default_destination="/data/vtubers_raw_dump/vtubers_dump/processing"

base_origin="/remote/do"
base_dest="/data/vtubers_raw_dump/vtubers_dump"

destinations=(
"${base_origin}/chibidoki" "${base_dest}/chibidoki" 
"${base_origin}/kamiko_kana" "${base_dest}/kamiko_kana" 
"${base_origin}/neuro-sama" "${base_dest}/vedal987" 
"${base_origin}/fallenshadow" "${base_dest}/fallenshadow" 
"${base_origin}/marimari" "${base_dest}/marimari" 
"${base_origin}/lilyhops" "${base_dest}/lilyhops" 
"${base_origin}/inislein" "${base_dest}/inislein" 
"${base_origin}/Inukai Purin" "${base_dest}/inukai_purin" 
"${base_origin}/Matsuro Meru" "${base_dest}/matsuro_meru" 
"${base_origin}/nanobites" "${base_dest}/nanobites" 
"${base_origin}/Prune" "${base_dest}/prune" 
"${base_origin}/mangobtuber" "${base_dest}/mangobtuber"
"${base_origin}/krumroll" "${base_dest}/krumroll"
"${base_origin}/anny" "${base_dest}/anny"
"${base_origin}/runa" "${base_dest}/runa"
)

