# Original location to destination

declare -A destinations

default_destination="/data/vtubers_raw_dump/vtubers_dump/processing"

destinations=(
"/remote/do/live-streams/chibidoki" "/data/vtubers_raw_dump/vtubers_dump/processing/chibidoki" 
"/remote/do/live-streams/kamiko_kana" "/data/vtubers_raw_dump/vtubers_dump/processing/kamiko_kana" 
"/remote/do/live-streams/neuro-sama" "/data/vtubers_raw_dump/vtubers_dump/processing/vedal987" 
"/remote/do/live-streams/fallenshadow" "/data/vtubers_raw_dump/vtubers_dump/processing/fallenshadow" 
"/remote/do/live-streams/marimari" "/data/vtubers_raw_dump/vtubers_dump/processing/marimari" 
"/remote/do/live-streams/inislein" "/data/vtubers_raw_dump/vtubers_dump/processing/inislein" 
"/remote/do/live-streams/Inukai Purin" "/data/vtubers_raw_dump/vtubers_dump/processing/inukai_purin" 
"/remote/do/live-streams/Matsuro Meru" "/data/vtubers_raw_dump/vtubers_dump/processing/matsuro_meru" 
"/remote/do/live-streams/nanobites_" "/data/vtubers_raw_dump/vtubers_dump/processing/nanobites" 
"/remote/do/live-streams/prune" "/data/vtubers_raw_dump/vtubers_dump/processing/prune" 
)

