[Unit]
Description=Transcode remote TS files into locally stored MP4 files
Wants=remote-do.mount

[Service]
Type=oneshot
ExecStart=/opt/system_scripts/transcode_move/transcode_ts.sh

[Install]
WantedBy=multi-user.target
